<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="Esbjergs kommende kaffebar, åben hver dag - Kaffe, brød & andet!">
    <title>Knas' - Esbjergs kaffebar</title>
    <link href="~/css/site.css" rel="stylesheet"/>
    <link rel="icon" href="/images/coffee.png">
</head>

<body>
<main>
    <div class="hero">
        <div class="hero-content">
            <p>ESTD. 2024</p>
            <h1>Knas'</h1>
            <button type="button" onclick="location.href='@Url.Action("Menu", "Home")'" target="_blank">
                <span>Menukort</span>
            </button>
        </div>
    </div>
    <div class="body">
        <div id="body-left">
            <h1>Kontakt Os</h1>
            <p>Telefon</p>
            <p>26 22 98 96</p>
            <a href="tel:26229896">
                Ring til os
            </a>
            <h1 id="adress">Adresse</h1>
            <p>Smedegade 13<br/>6700 Esbjerg</p>
            <a href="https://maps.apple.com/maps?q=smedegade+13+esbjerg" target="_blank">
                Åbn i maps
            </a>
        </div>
        <div id="body-mid">
            <h1>Åbningstider</h1>
            <p>Mandag - Fredag<br/>8 - 17</p>
            <p>Lørdag<br/>9 - 16</p>
            <p style="margin-bottom: 0">Søndag<br/>9 - 16</p>
        </div>
        <div id="body-right">
            <h1>Følg os her</h1>
            <a id="img" href="https://www.instagram.com/knas.kaffe/" target="_blank">
                <img src="images/instagram.png" alt="Instagram logo"/>
            </a>
            <p>Instagram</p>
        </div>
    </div>

</main>
</body>
<footer>
    <div class="footer-left">
        <div class="footer-left-img">

        </div>
        <div class="footer-left-content">
            <p>Knas'</p>
            <p>CVR: 44999293</p>
        </div>
    </div>
    <div class="footer-right">
        <a id="nicklaskramer" href="https://nicklaskramer.dk" target="_blank">NKLogic © 2024</a>
    </div>
</footer>
</html>
